<footer class="page-footer red darken-3">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Hamada.rb</h5>
                <p class="grey-text text-lighten-4">島根県西部にある浜田市周辺のRubyistのための地域.rbです</p>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                    <li><a class="grey-text text-lighten-3" href="#!">Twitter</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">GitHub</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container center">
            © 2019 Copyright Hamada.rb
        </div>
    </div>
</footer>
    